@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --navy: #033457;
  --neon-green: #03FF00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-navy: var(--navy);
  --color-neon-green: var(--neon-green);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
